body {
    margin: 0 auto;
    width: 1440px;
}
header {
    position: sticky;
    top: 0;
    left: 232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1208px;
    height: 96px;
    background-color: white;
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.2);
}
.navBar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    height: 1024px;
    
    background-color: #2A3647;
}
.navLogo {
    width: 100px;
}
section {
    position: absolute;
    top: 0;
    left: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.sections {
    display: flex;
    justify-content: center;
}
.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.border {
    width: 1px;
    background-color: #DEDFDF;
    margin-left: 80px;
    margin-right: 80px;

}
#prio {
    display: flex;
    justify-content: space-between;
}
.prio {
    margin: 4px;
    border: 1px solid #DEDFDF;
}
.prio label span {
    display: block;
    padding: 8px;
}
.prio label input {
    display: none;
}
.prio input:checked + span {
    border: 1px solid black;
}
.bottomSection {
    display: flex;
    justify-content: space-between;
}