main {
    position: relative;
    top: 0;
    left: 14%;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    
}
.sections-drag {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-left: 56px;
}
.drag-area {
    height: 200px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0, 0.2);
    border: 1px;
    margin-bottom: 50px;
    margin-top: 24px;
    margin-right: 27px;
    margin-left: 27px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 64px;
    height: auto;
    width: auto;
    min-width: 150px;
    min-height: 20px;
}
.drag-area-highlight {
    opacity: 0.7;
    transform: scale(1.1);
    transition: 225ms ease-in-out;
    background-position: 0 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.headline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1477px;
    padding-top: 82px;
    padding-bottom: 99px;
}
.inputAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 21px 13px 21px;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    margin-left: 35px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1477px;
    padding-bottom: 99px;
}
.buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 21px 13px 21px;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    margin-left: 35px;
}
.buttonAdd:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}
.buttonAdd img {
    filter: brightness(0) invert(1);
}
h1 {
    display: block;
    font-size: 61px;
    font-weight: 700;
}


.user-story{
    background-color: #0038FF;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.technical-task{
    background-color: #1FD7C1;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    width: 155px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-content{
    color:rgba(0, 0, 0, 0.6)
}

.progress{
    height: 8px!important;
    border-radius: 15px!important;
    width:49%;
}

.progress-container {
    display: flex;
    align-items: center;
    width: 200px;
}

.subtask-content{
    width: 49%;
}

h5{
    font-weight: 700!important;
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    min-width: 64px;
    height: auto;
}
