main {
    margin-left: 84px;
    margin-top: 84px;
}
.colorJoin {
    color: #29ABE2;
}

.scrollHelp::-webkit-scrollbar {
    display: none;
  }

.scrollHelp img:hover {
    cursor: pointer;
}
li::marker {
    font-size: 27px;
    font-weight: 700;
}
.titleH1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 0;
}