:root{
    --blue: #29ABE2;
    --dark: #2A3647;
    --outline-active: #74C5E8;
    --outline-error:#FF6073;
    font-family: 'Inter', sans-serif;
}


main {
    margin-left: 4rem;
    margin-top: 4rem;
}

.colorJoin {
    color: #29ABE2;
}

.scrollHelp::-webkit-scrollbar {
    display: none;
  }

.scrollHelp img:hover {
    cursor: pointer;
}

.titleH1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 0;
}
h2 {
    margin-bottom: 0;
}
.scrollHelp p {
    margin-top: 0;
}