<head>
    <link rel="stylesheet" href="/css/add_task.css">
    <link rel="stylesheet" href="/css/summary.css">
    <script src="/js/summary.js" ></script>
</head>
<body onload="init()">

    <div class="navBar">
        <img class="navLogo" src="/assets/img/NavLogo.png" alt="">
        <div class="navLinks">
        <div class="navLinkImg">
          <a href="">
          <img src="/assets/img/nav-summary.png" alt=""></a><span>Summary</span>
        </div>
        <div class="navLinkImg"> 
          <a href="">
          <img src="/assets/img/nav-add-task.png" alt=""> </a><span>Add Task</span>
        </div>
        <div class="navLinkImg">
          <a href="">
          <img src="/assets/img/nav-board.png" alt=""> </a><span>Board</span>
        </div>
        <div class="navLinkImg">
          <a href="">
          <img src="/assets/img/nav-contacts.png" alt=""> </a><span>Contacts</span>
        </div>
        </div>
        <div class="navBottom">
            <a class="navLinksBot" href="">Privacy Policy</a>
            <a class="navLinksBot" href="">Legal notice</a>
        </div>
    <section>
        <header>
        <p class="pHeader">Kanban Project Management Tool</p>
        <div class="imgsHeader">
            <img src="/assets/img/help.png" alt="">
            <img src="/assets/img/UserProfile.png" alt="">
        </div>
    </header>
      <h1 class="title">Join 360</h1>
      <main>
        
    
      </main>
    </section>
    
  </body>